@import "tailwindcss";

@font-face {
  font-family: Dm;
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: sans-serif;
  src: url("./fonts/font1.woff2") format("woff2");
}

@theme {
  --font-display: "Dm", "sans-serif";
}
@theme {
  --color-pink: #FF759C;
  --color-green: #00CC97;
  --color-yellow: #FFDB59;
  --color-light: #909090;
  --color-dark: #0F141C;
  --color-light-bg: rgb(23, 27, 34);
  --color-dark-bg: rgb(15, 20, 28);
}
@theme {
  --breakpoint-xs: 460px;
  --breakpoint-xsm: 580px;
}